#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;    /* Footer height */
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

body {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

#app {
  position: absolute;
  z-index:1
}

.twinkling{
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100vh;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:0;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

#footer {
  font-family:"Courier New", "Courier", monospace;
  text-align:center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:2.5rem;
  height: 2.5rem;            /* Footer height */
}

.Typist .Cursor {
  display: inline-block;}
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
